---
services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    volumes:
      - '/home/mitchell/server/vaultwarden/data/:/data/'
    ports:
      - "{{ web_port }}"