---
services:
  babybuddy:
    image: lscr.io/linuxserver/babybuddy:latest
    container_name: babybuddy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000, http://localhost:8000
    volumes:
      - /srv/babybuddy/config:/config
    ports:
      - 8000:8000
    restart: unless-stopped